/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-text {
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.social-icon {
  fill: var(--primary-color);
  width: 32px;
  height: 32px;
  margin-bottom: 20px;
}

.card {
  border: 1px solid var(--primary-color);
  padding: 16px;
  border-radius: 8px;
  width: 200px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

:root {
  --primary-color: #a24e4e;
  --secondary-color: #fff7f7;
  --back-color: #e6dac3;
}

@media (max-width: 768px) {
  .bg-center {
    background-position: top center;
  }

  .bg-cover {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .w-60 {
    width: 100%;
  }

  .h-80 {
    height: auto;
  }

  h1.text-8xl {
    font-size: 3rem;
  }

  p.text-6xl {
    font-size: 2rem;
  }

  .social-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 16px;
  }
}
