/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --first-color: #272727;
  --second-color: #fbf7f3;
  --third-color: #9eb4cd;
  --fourth-color: #edd2c2;
}

body {
  background: var(--second-color);
}

@media (max-width: 768px) {
}
